<!DOCTYPE html>
<html>
<body>
<form action="/test/update"  method="post">
    <div>





        {{#if user.name}}
            <input type="text" placeholder="Enter Ptient Id" name="pid" value="{{user.id}}" required>
            <input type="text" placeholder="Enter Ptient Name" name="name" value="{{user.name}}" required>
            <input type="text" placeholder="Enter Ptient Age" name="age" value="{{user.age}}" required>
            <input type="text" placeholder="Enter Ptient DName" name="dname" value="{{user.detail.name}}" required>
            <input type="text" placeholder="Enter Ptient DTreat" name="dtreat" value="{{user.detail.treat}}" required>
            <button type="submit">push</button>

        {{else}}
            <input type="text" placeholder="Enter Ptient Id" name="pid" value="{{user.id}}" required>
            <input type="text" placeholder="Enter Ptient Name" name="name" value="{{user.name}}" required>
            <input type="text" placeholder="Enter Ptient Age" name="age" value="{{user.age}}" required>
            <input type="text" placeholder="Enter Ptient DName" name="dname" value="{{user.detail.name}}" required>
            <input type="text" placeholder="Enter Ptient DTreat" name="dtreat" value="{{user.detail.treat}}" required>

            <button type="submit">Update</button>
        {{/if}}



    </div>
</form>
</body>
</html>